@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron">
        <h1><strong>GREWARE</strong> Agenda</h1>
        <p>GREWARE Agenda is a sample application that demonstrates how to use Entity Framework in an ASP.NET MVC 5 web application.</p>
        <p><a href="/Person" class="btn btn-primary btn-lg">Start Agenda</a></p>
    </div>
</div>
